html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, 
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, 
output, ruby, section, summary, time, mark, audio, video {
    font-size: inherit;
    list-style: none;
    text-decoration: none;
    /* line-height: 1.5; */
}

* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-family: '돋움','Nanum Barun Gothic', sans-serif; /* 다시 체크하기 */
    color : #666;
}

.full_w {
    width: 100%;
}

header {
    height: 134px;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
}

.top_navigation {
    height: 32px;
    background-color: #f5f5f5;
}

.top_menu {
    width: 1056px;
    height: 100%;
    font-size: 11.3px;
    display: table;
}

.basic_menu {
    vertical-align: middle;
    padding: 0 13.5px;
    display: table-cell;
    position: relative;
}

.basic_menu span {
    float: left;
    cursor: pointer;
}

.basic_menu ul {
    float: right;
    position: absolute;
    right: 0px;
}

.basic_menu ul li{
    float: left;
    padding: 0 13.5px;
    margin-left: 3px;
}





.main_navigation {
    height: 50px;
    padding: 8px 0px 4px 0px;
}

.main_menu {
    width: 1056px;
    height: 100%;
}

.main_menu h1 {
    padding: 0 27px;
    /* width: 128px; */
    display: inline-block;
    /* margin-top: 5px; m*/
    /* vertical-align: middle; */
}

.main_menu img {
    height: 29px;
}

.product {
    font-size: 18px;
    margin-right: 30px;
}

.product_type {
    display: inline-block;
    position: relative;
    /* top: -10px; m*/
    /* margin-top: -8px; */
}

.product_item {
    color: #ff7b30;
    font-weight: bold;
}

.main_search {
    /* width: 330px; */
    height: 38px;
    border: 1px solid #ff7b30;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    margin-right: 24px;
    vertical-align: middle;
    /* top: 3px; m*/
}

.main_search form {
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    border: 0 none;
}

.search {
    text-align: left;
    font-size: 14px;
    width: 288px;
    height: 36px;
    text-indent: 12px;
    vertical-align: middle;
    line-height: 36px;
    color: #222;
}

.related_search {
    /* width: 100%; */
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 200;
    border: 1px solid #d9d9d9;
    box-shadow: 0 4px 8px 0 #00000033;
    border-radius: 2px;
    position: absolute;
    top: 41px;
    padding: 8px 12px 0;
    max-height: 538px;
    /* vertical-align: baseline; */
}

.related_search .product_result {
    padding: 7px 0;
}

.product_result .label {
    font-weight: bold;
    color: #999;
}

.related_search .related_result {
    font-size: 13px;
    padding: 11px 0;
    cursor: pointer;
    border-bottom: 1px solid #d9d9d9;
    color: #333;
}

/* .related_search .related_result:first-child {
    padding-
} */

.related_search .related_result:last-child {
    border-bottom: 0 none;
}

.search_btn {
    width: 42px;
    height: 100%;
    background: none;
    vertical-align: middle;
    cursor: pointer;
    float: right;
    /* text-align: center; */
}

.search_btn img {
    width: 24px;
    height: 24px;
}

