<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>아이디어스 - 핸드메이드, 수공예, 수제 먹거리</title>
        <link rel="stylesheet" type="text/css" href="../resource/css/header.css" />
        <link rel="stylesheet" type="text/css" href="../resource/css/main.css" />
        <link rel="stylesheet" type="text/css" href="../resource/css/footer.css" />
    </head>

    <body>
        <div class="wrap">
            <header class="full_w">
                <div class="top_navigation full_w">
                    <div class="top_menu">
                        <div class="basic_menu">
                            <span>아이디어스 앱 설치하기</span>

                            <ul>
                                <a href="#"><li>로그인</li></a>
                                <a href="#"><li>회원가입</li></a>
                                <a href="#"><li>고객센터</li></a>
                            </ul>
                        </div>
                    </div> <!-- .inner_menu -->
                </div> <!-- .top_navigation -->

                <div class="main_navigation full_w">
                    <div class="main_menu">
                        <h1><a href="#"><img src="../resource/image/logo.svg" /></a></h1> <!-- 메인 로고 -->

                        <div class="product_type">
                            <a href="#" class="product_item product">작품</a> <!-- 작품 -->
                            <a href="#" class="product_lesson product">클래스</a> <!-- 클래스 -->
                        </div>
                        
                        <div class="main_search">
                            <form>
                                <input type="text" placeholder="홈파티를 검색해 보세요." class="search" />

                                <ul class="related_search">
                                    <li class="related_result product_result">이미지테스트1<small class="label">기획전</small></li>
                                    <li class="related_result product_result">이미지테스트2<small class="label">클래스</small></li>
                                    <li class="related_result product_result">이미지테스트2<small class="label">작가</small></li>
                                    <li class="related_result">테스트1</li>
                                    <li class="related_result">테스트2</li>
                                    <li class="related_result">테스트3</li>
                                    <li class="related_result">테스트4</li>
                                    <li class="related_result">테스트5</li>
                                    <li class="related_result">테스트6</li>
                                </ul>

                                <button type="submit" class="search_btn"><img src="../resource/image/search.jpg" /></button>
                            </form>
                        </div> <!-- 써치 창 -->
                        <!-- 검색 순위 -->
                        <!-- 내정보 -->
                        <!-- 장바구니 -->
                    </div> <!-- main_menu -->
                </div> <!-- .main_navigation -->
            </header>

            <section></section>

            <footer></footer>
        </div> <!-- .wrap -->
    </body>

</html>